//! **************************************************************************
// Written by: Map P.20131013 on Wed Dec 03 14:35:43 2014
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

